*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************** HEADER INDEX (W/BOOTSTRAP **************/


.navbar{
    position: sticky;
    top: 0;
    list-style: none;
    gap: 3.125rem;
    z-index: 2;
}

.navbar li a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.875rem;
    color: black;
}

.navbar li a:visited{
    color: black;
}

.navbar-brand{
    text-align: left;
}

.text-end{
    text-align: right;
}

/************** HEADER DESIGN (W/ MQ) **************/

.header-for-mq{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    text-align: center;
    justify-content: space-between;
    padding: .625rem 1.5rem;
    top: 62.5rem;
    z-index: 1;
}

.headerHome{
    z-index: 0;
    overflow: hidden;
    }

header h1{
    display: flex;
    top: 0;
    justify-content: left;
    text-transform: uppercase;
    word-spacing: .625rem;
    font-family: 'Cabin', sans-serif;
    font-size: 5rem;
    letter-spacing: .1875rem;
    color: black;
    z-index: 2;
}

.navbar2{
    display: flex;
    position: relative;
    top: 1rem;
    right: 0;
    list-style: none;
    gap: 3.125rem;
    z-index: 2;
}

.navbar2 li a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.875rem;
    color: black;
}

.navbar2 li a:visited{
    color: black;
}

/************** MAIN **************/

/********* index *********/

.background-image{
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main{
    margin-bottom: 50px;
    z-index: 0; 

}

.cards{
    margin-top: 8rem;
}

main h2{
    position: absolute;
    justify-content: left;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    font-size: 3.125rem;
    letter-spacing: .1875rem;
    color: black;
    padding-top: 4.5rem;
    padding-left: 0.5rem;
    padding-right: 1.25rem;
}

main section div p{
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1.25rem;
    white-space: nowrap;
    color: black;
}

/********* design *********/

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    margin-top: 0.5rem;
    grid-gap: 1.25rem;
    justify-content: center;
    padding: 1.25rem;
}

.card{
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: .625rem;
    text-align: center;
    overflow: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

@media (max-width: 1050px){
    .card-container {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media (max-width: 768px){
    .card-container {
        grid-template-columns: 1fr;
    }
}

.container-title{
    text-align: left;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}

main h2{
    left: 0;
    right: 0;
    margin-top: 0;
    text-align: left;
}

main h3{
    padding-left: 1.25rem;
    padding-top: 10rem;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1.375rem;
    letter-spacing: .1875rem;
    color: black;
}

main h4{
    padding-left: 1.25rem;
    padding-top: 1.875rem;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1.375rem;
    letter-spacing: .125rem;
    color: black;
}

main h5{
    padding-left: 1.25rem;
    padding-top: 1.875rem;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1.375rem;
    letter-spacing: .125rem;
    color: black;
}

main h6{
    padding-left: 56.25rem;
    padding-top: 12.5rem;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 2.25rem;
    letter-spacing: .125rem;
    color: black;
}

/********* about *********/
.containerAboutus{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 50rem; 
    margin: 0;
}

.containerAboutus p{
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

/********* contactus *********/
.team1{
    padding-left: 75.625rem;
    padding-top: 1.25rem;
    text-transform: capitalize;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    letter-spacing: .1875rem;
    color: black;
}

.team2{
    padding-left: 75.625rem;
    padding-top: 1.25rem;
    text-transform: capitalize;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    letter-spacing: .1875rem;
    color: black;
}

.team3{
    padding-left: 75.625rem;
    padding-top: 1.25rem;
    text-transform: capitalize;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    letter-spacing: .1875rem;
    color: black;
}

main div p{
    max-width: 100%;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1.25rem;
    white-space: nowrap;
    color: black;
}



/************** FOOTER **************/

footer{
    position: absolute;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: auto;
}

footer h3{
    position: absolute;
    padding-left: 0.4rem;
    justify-content: left;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    letter-spacing: .1875rem;
    top: 15rem;
    color: black;
}

.footerInformation{
    position: absolute;
    top: 18rem;
    width: 100%;
    justify-content: space-between;
    left: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}

.footerInformation li a{
    padding-left: 1.25rem;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1.375rem;
    letter-spacing: .1875rem;
    color: black;
}

.footerInformation :visited{
    color: black;
}

footer h4{
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    letter-spacing: .1875rem;
    white-space: nowrap;
    color: white;
    background-color: black;
    text-align: right;
}

.footerNewsletter{
    position: absolute;
    top: 4rem;
    right: .625rem;
    text-align: right;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    font-family: 'Cabin', sans-serif;
    font-size: 1.375rem;
    letter-spacing: .1875rem;
    white-space: nowrap;
    color: black;
}

/************** FOOTER FOR DESIGN.HTML (MEDIA Q) **************/

.custom-footer{
    text-align: center;
    color: white;
    padding: 20px 0;
}

.custom-footer h3{
    font-size: 1.5rem;
    top: 15rem;
    left: 1rem;
}

.custom-footer nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.custom-footer nav li{
    margin-bottom: 10px;
    flex: 1;
}

.custom-footer nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.custom-footer nav a:hover{
    text-decoration: underline;
}

.footerInformation2{
    position: absolute;
    top: 19rem;
    width: 100%;
    left: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}
.footerInformation2 li a{
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    letter-spacing: .1875rem;
    color: black;
}



/******** MEDIA QUERYS********/
@media (min-width:1024px) and (max-width: 1684px){
    header h1{
        font-size: 3.5rem;
        align-items: top;
    }
    .navbar2{
        top: 1rem;
        gap: 3rem;
    }
    .navbar2 li a{
        font-size: 1.5rem;
    }
    .containerImg{
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "project-1 project-2"
    ;
    }
    .cards-3{
        display: none;
    }
    main h2{
        font-size: 2.5rem;
    }
}


@media (min-width:768px) and (max-width: 1023px){
    header h1{
        font-size: 2.5rem;
        align-items: top;
    }
    .navbar2{
        top: 1rem;
        gap: 2rem;
    }
    .navbar2 li a{
        font-size: 1rem;
    }
    .containerImg{
        justify-content: space-around;
        grid-template-columns: 1fr;
        grid-template-rows: (1fr 1fr 1fr);
        grid-template-areas:
        "project-1"
        "project-2"
        "project-3"
        ;
    }
    main h2{
        font-size: 1.5rem;
    }
    }
    footer h3{
        font-size: 2.5rem;
    }
    footer h4{
        font-size: 2.5rem;
    }


@media (min-width:425px) and (max-width: 767px){
    header h1{
        font-size: 1.5rem;
        align-items: top;
    }
    .navbar2{
        top: .5rem;
        gap: 1rem;
        justify-content: center;
    }
    .navbar2 li a{
        justify-content: space-around;
        font-size: 1rem;
        top: 4rem;
    }
    .containerImg{
        justify-content: space-around;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: (1fr 1fr 1fr);
        grid-template-areas:
        "project-1"
        "project-2"
        "project-3"
        ;
    }
    main h2{
        font-size: 1rem;
    }
    footer h3{
        font-size: 1.5rem;
    }
    footer h4{
        font-size: 1.5rem;
    }
}

@media (max-width: 424px){
    header h1{
        font-size: 1.2rem;
        align-items: top;
    }
    .navbar2{
        top: .3px;
        gap: 1rem;
    }
    .navbar2 li a{
        font-size: .60rem;
        top: 4rem;
    }
    main h2{
        font-size: 1rem;
    }
    footer h3{
        font-size: 1.2rem;
    }
    footer h4{
        font-size: 1.2rem;
    }
}
